@font-face {
    font-family: 'thirsty_script_extrabold_deRg';
    src: url('../fonts/thirstyscriptextrabolddemo-webfont.eot');
    src: url('../fonts/thirstyscriptextrabolddemo-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/thirstyscriptextrabolddemo-webfont.woff2') format('woff2'),
    url('../fonts/thirstyscriptextrabolddemo-webfont.woff') format('woff'),
    url('../fonts/thirstyscriptextrabolddemo-webfont.ttf') format('truetype'),
    url('../fonts/thirstyscriptextrabolddemo-webfont.svg#thirsty_script_extrabold_deRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

.intro-message h1 {
    font-family: 'thirsty_script_extrabold_deRg';
}

@media only screen and (min-width:1200px) { 
    .iphone {
        margin-top: -260px;
    }
}

.wordmark {
    height: 12em;
}

.carousel-caption {
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
}

.intro-header2 {
    background: url(../img/meditation.jpg) no-repeat center center;
    background-size: cover;
}

.intro-header3 {
    background: url(../img/tango.jpg) no-repeat center center;
    background-size: cover;
}

.mailchimp {
    text-align: center;
}
